$icomoon-font-family: "tgico" !default;
$icomoon-font-path: "fonts" !default;

$icon-Attern: unquote('"\\e912"');
$icon-Block: unquote('"\\e913"');
$icon-Citate: unquote('"\\e914"');
$icon-Close: unquote('"\\e915"');
$icon-Done: unquote('"\\e916"');
$icon-Edit: unquote('"\\e917"');
$icon-Email: unquote('"\\e918"');
$icon-icon: unquote('"\\e919"');
$icon-image: unquote('"\\e91a"');
$icon-info: unquote('"\\e91b"');
$icon-infowindow: unquote('"\\e91c"');
$icon-Lapp: unquote('"\\e91d"');
$icon-Mapp: unquote('"\\e91e"');
$icon-Menu: unquote('"\\e91f"');
$icon-Plus: unquote('"\\e920"');
$icon-Sapp: unquote('"\\e921"');
$icon-Text: unquote('"\\e922"');

