$icomoon-font-family: "tgico" !default;
$icomoon-font-path: "fonts" !default;

$icon-Attetion: unquote('"\\e900"');
$icon-Author: unquote('"\\e901"');
$icon-Block: unquote('"\\e902"');
$icon-Citate: unquote('"\\e903"');
$icon-Close: unquote('"\\e904"');
$icon-Done: unquote('"\\e905"');
$icon-Edit: unquote('"\\e906"');
$icon-icon: unquote('"\\e907"');
$icon-image: unquote('"\\e908"');
$icon-info: unquote('"\\e909"');
$icon-infowindow: unquote('"\\e90a"');
$icon-Lapp: unquote('"\\e90b"');
$icon-Mapp: unquote('"\\e90c"');
$icon-Menu: unquote('"\\e90d"');
$icon-Play: unquote('"\\e90e"');
$icon-Plus: unquote('"\\e90f"');
$icon-Sapp: unquote('"\\e910"');
$icon-Share: unquote('"\\e911"');
$icon-Telegram: unquote('"\\e912"');
$icon-Text: unquote('"\\e913"');

