@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?b2ovav");
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?b2ovav#iefix")
      format("embedded-opentype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?b2ovav")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?b2ovav")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?b2ovav##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
