@import "../variables.scss";

.banner {
  width: calc(100% - 20px);
  height: 150px;
  background: $maincolor;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.banner-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #ffffff;

  opacity: 0.8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.banner-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20px);
  align-items: flex-end;
  padding: 0px 10px;
  gap: 10px;
  height: 70%;
}

.banner-settings {
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-settings-input {
  border: 0;
  border-radius: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  padding-left: 10px;
  background-color: #161616;
  margin-bottom: 5px;
}

.banner-settings-input:focus {
  border: 0;
  outline: 0;
}

.banner-settings-file {
  border: 0;
}
