.cell {
  display: flex;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cell-before {
  margin-left: 10px;
  margin-right: 1rem;
  display: flex;
}

.cell-main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cell-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 1.5rem;
  position: relative;
}

.cell-span {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  opacity: 0.8;
  white-space: normal;
  word-wrap: break-word;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell-header-span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.02em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.5rem;
  width: 90%;
}

.call-header-after {
  border: 1px solid;
  border-radius: 10px 0px 0px 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  padding: 0px 5px;
  width: 46px;
  height: 18px;
  position: absolute;
  right: 0;
}

.cell-play {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
}

.cell-main-play {
  width: 100%;
  height: 132px;
}

.cell-before-play {
  height: 84px;
  width: 100%;
}

.cell-span-play {
  margin-top: 5px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  justify-content: center;
  word-wrap: break-word;
}

.cell-settings {
  position: absolute;
  background: rgba(37, 37, 37, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  right: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
  z-index: 1;
  top: 35px;
}

.cell-settings-items {
  width: 89px;
  height: 14px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #ffffff;

  opacity: 0.6;
}

.cell-input-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  width: 100%;
  color: white;
  background: none;
  border: none;
  height: 90%;
}

.cell-input-span {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  opacity: 0.8;
  color: white;
  background: none;
  height: 100%;
  border: none;
  resize: none;
}

.cell-input-header:focus {
  width: 100%;
  border: none;
  outline: none;
}

.cell-input-span:focus {
  width: 100%;
  border: none;
  outline: none;
}
