@import "../variables.scss";

.normal-block {
  width: 90%;
  background-color: $maincolor;
  border-radius: 8px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  min-height: 50px;
}

.normal-block-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.02em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
  margin-top: 10px;

  &.h1 {
    font-size: 28px;
    height: 29px;
  }

  &.h2 {
    font-size: 24px;
    height: 25px;
  }

  &.h3 {
    font-size: 22px;
    height: 23px;
  }
}

.normal-block-text {
  padding: 0px 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.8;
  width: 95%;
  word-wrap: break-word;
  margin-top: 5px;
}

.normal-block-text-input {
  height: auto;
  background: none;
  padding: 0px 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.8;
  width: 95%;
  border: none;
  resize: none;
  margin-top: 5px;
}

.normal-block-text-input:focus {
  border: none;
  outline: none;
}

.normal-block-title-input {
  width: 95%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.02em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none;
  color: white;
  border: none;
  margin-top: 10px;

  &.h1 {
    font-size: 28px;
    height: 29px;
  }

  &.h2 {
    font-size: 24px;
    height: 25px;
  }

  &.h3 {
    font-size: 22px;
    height: 23px;
  }
}

.normal-block-title-input:focus {
  outline: none !important;
}
