@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@font-face {
  font-family: "tgico";
  src: url("/fonts/tgico.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
