@import "./fonts/fonts.scss"; //убрать или использовать только под некоторые
@import "./component/";

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: url("/background2.png");
  background-size: 200% 50%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-color: rgb(37, 37, 37);
}

#root {
  height: 100%;
  overflow-y: scroll;
  background-image: url("/background3.png");
  background-size: 200% 50%;
  background-position-x: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.left {
  transition: background-position-x 0.25s ease;

  background-position-x: 0% !important;
}

.center {
  transition: background-position-x 0.25s ease;

  background-position-x: 50% !important;
}

.right {
  transition: background-position-x 0.25s ease;

  background-position-x: 100% !important;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  height: 100%;
  width: 100%;
  margin-top: 72px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
