@import "./fonts.scss";
@import "./component/";

* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: white;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: url("/BackBlack.png");
  background-size: 150% 100%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  /*background-image: url("/backgroundup.png");
  background-size: 200% 50%;
  background-position-y: 0%;
  background-repeat: no-repeat;*/
  background-color: black;
}

#root {
  height: 100%;
  overflow-y: scroll;
  /*
  background-image: url("/backgrounddown.png");
  background-size: 200% 50%;
  background-position-x: 100%;
  background-position-y: 100%;*/
  background-repeat: no-repeat;
}

/*background-size: 200% 50%;
background-position-x: 100%;
background-position-y: 100%;*/

.left {
  transition: background-position-x 0.25s ease;

  background-position-x: 0% !important;
}

.center {
  transition: background-position-x 0.25s ease;

  background-position-x: 50% !important;
}

.right {
  transition: background-position-x 0.25s ease;

  background-position-x: 100% !important;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
