.main {
  height: 100%;
  width: 100%;
  padding: 0 10px 0px;
  margin-bottom: 100px;

  /*&.study {
    background-image: url("/public/background-study.png");
  }

  &.explore {
    background-image: url("/public/background-explore.png");
  }

  &.social {
    background-image: url("/public/background-social.png");
  }*/
}
